@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model Susteni.Models.HelpDesk.HelpDeskModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<script type="text/x-kendo-tmpl" id="templateBMV">
    <div class="rapport">
        <img src="data:image/png;base64,#:Bilde#" alt="Rapport" />
        <p>#:Kommentar#</p>
    </div>
</script>

<style>

    #lvBilder {
        height: 90%;
        font: inherit;
    }

    .rapport p {
        font-size: 13px;
    }

    .rapport {
        margin-left: 0px;
    }

    table, th {
        margin-left: 5px;
        margin-top: 0px;
    }

</style>

<div class="container-fluid padding-0" id="helpdeskForm">

    <input type = "hidden" asp-for="HelpDesk.HelpDeskGuid" class="form-control">

    <div class="col-12" style="margin-bottom: 0px; margin-top: 10px;">
        <div class="panel with-nav-tabs panel-default dataenter" style="height: calc(100vh - 220px);">
            <div class="panel-body data padding-0">
                <div class="tab-content data">
                    <div class="panel-heading" id="Tab">
                        <ul class="nav nav-tabs">
                            <li class="nav-item"><a class="@(Model.HelpDesk.aktivTab == "tabGenerell" ? "nav-link active" : "nav-link")" aria-current="page" href="#tabGenerell" data-bs-toggle="tab">@Localizer["Ticket"]</a></li>
                            <li class="nav-item"><a class="@(Model.HelpDesk.aktivTab == "tabBilde" ? "nav-link active" : "nav-link")" href="#tabBilde" data-bs-toggle="tab">@Localizer["Picture"]</a></li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        
                        <div class="tab-content" style="margin-top: 10px;">

                            <div class="@(Model.HelpDesk.aktivTab == "tabGenerell" ? "tab-pane fade show active" : "tab-pane fade")" style="padding: 10px;" role="tabpanel" id="tabGenerell">
                                
                                <div class="row align-items-center" style="display: flex; flex-direction: row;">
                                    <Label class="col-1 col-form-label">@Localizer["TicketId"]</label>
                                    <div class="col-lg-2">
                                        <input asp-for="HelpDesk.TiketId" class="form-control k-textbox" readonly>                                       
                                    </div>
                                    <Label class="col-1 col-form-label">@Localizer["Priority"]</label>
                                    <div class="col-lg-2">
                                        @(Html.Kendo().NumericTextBox<decimal>()
                                            .Name("HelpDesk.Prioritet")
                                            .Format("n0")
                                            .Min(0)
                                            .Max(9)
                                            .Value(Model.HelpDesk.Prioritet)
                                            .HtmlAttributes(new { style = "width: 70px;"})
                                        )
                                    </div>
                                    <Label class="col-1 col-form-label">@Localizer["Status"]</label>
                                    <div class="col-lg-3">
                                        @(Html.Kendo().DropDownList()
                                            .Name("HelpDesk.Status")
                                            .DataTextField("Text")
                                            .DataValueField("Value")
                                            .BindTo(new List<SelectListItem>() {
                                                new SelectListItem() {
                                                Text = Localizer["Registered"].Value , Value = "1"
                                                }, 
                                                new SelectListItem() {
                                                Text = Localizer["Started"].Value , Value = "20"
                                                }, 
                                                new SelectListItem() {
                                                Text = Localizer["Wish"].Value , Value = "50"
                                                },
                                                new SelectListItem() {
                                                Text = Localizer["On holde"].Value , Value = "5"
                                                },
                                                new SelectListItem() {
                                                Text = Localizer["Need more info"].Value, Value = "2"
                                                },
                                                new SelectListItem() {
                                                Text = Localizer["No priority"].Value, Value = "3"
                                                },
                                                new SelectListItem() {
                                                Text = Localizer["Must be discussed"].Value, Value = "4"
                                                },
                                                new SelectListItem() {
                                                Text = Localizer["Must watch in teams"].Value, Value = "6"
                                                },
                                                new SelectListItem() {
                                                Text = Localizer["Awaiting approval"].Value, Value = "8"
                                                },
                                                new SelectListItem() {
                                                Text = Localizer["Correction accepted internally"].Value, Value = "9"
                                                },
                                                new SelectListItem() {
                                                Text = Localizer["Correction not accepted"].Value, Value = "15"
                                                },
                                                new SelectListItem() {
                                                Text = Localizer["Correction accepted customer"].Value, Value = "99"
                                                }
                                            })
                                            .Value(Model.HelpDesk.Status.ToString())
                                            .HtmlAttributes(new { style="width: 100%;" })
                                        )
                                    </div>

                                </div>

                                <div class="row align-items-center" style="display: flex; flex-direction: row;">
                                    <Label class="col-1 col-form-label">@Localizer["Software"]</label>
                                    <div class="col-lg-3">
                                        @(Html.Kendo().DropDownList()
                                            .Name("HelpDesk.Program")
                                            .DataTextField("ProgramNavn")
                                            .DataValueField("Id")
                                            .OptionLabel("Velg fra listen...")
                                            .OptionLabelTemplate("<span><i>Velg fra listen...</i></span>")
                                            .DataSource(source => source
                                                .Ajax()
                                                .Read(read => read.Action("GetHelpDeskProgramListe", "HelpDesk"))
                                                )    
                                            .Value(Model.HelpDesk.Program.ToString())
                                            .HtmlAttributes(new { style="width: 100%;" })
                                        )
                                    </div>
                                    <label class="col-1 col-form-label">Module</label>
                                    <div class="col-md-2">
                                        <input asp-for="HelpDesk.Modul" class="form-control k-textbox">
                                    </div>
                                    <label class="col-1 col-form-label">Function</label>
                                    <div class="col-md-2">
                                        <input asp-for="HelpDesk.Skjermbilde" class="form-control k-textbox">
                                    </div>
                                </div>

                                <div class="row align-items-center" style="display: flex; flex-direction: row;">
                                    <label class="col-1 col-form-label">Title</label>
                                    <div class="col-10">
                                        <input asp-for="HelpDesk.Tittel" class="form-control k-textbox">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-1"></div>
                                    <div class="col-lg-11">
                                        @(Html.Kendo().RadioGroup()
                                            .Name("HelpDesk.TypeId")
                                            .InputName("HelpDesk.TypeId")
                                            .Layout(RadioGroupLayout.Horizontal)
                                            .Items(i =>
                                            {
                                                i.Add().Label("Bug").Value("1");
                                                i.Add().Label("Typo").Value("2");
                                                i.Add().Label("Change").Value("3");
                                                i.Add().Label("Lack").Value("4");
                                                i.Add().Label("Wish").Value("9");
                                                i.Add().Label("Support").Value("0");
                                                i.Add().Label("Coming").Value("7");
                                            })
                                            .Value(Model.HelpDesk.TypeId.ToString())
                                            )
                                    </div>
                                </div>

                                <div class="row align-items-center" style="display: flex; flex-direction: row;">
                                    <label class="col-1 col-form-label">Customer</label>
                                    <div class="col-3">
                                                                                
                                        @(Html.Kendo().DropDownList()
                                            .Name("HelpDesk.Fellesraad")
                                            .DataTextField("Navn")
                                            .DataValueField("Fellesraad")
                                            .OptionLabel("Select customer ...")
                                            .OptionLabelTemplate("<span><i>Select customer ...</i></span>")
                                            .Events(e => e.Change("onKundeChange"))
                                            .Value(Model.HelpDesk.Fellesraad)
                                            .HtmlAttributes(new { style="width: 100%;" })
@*                                             .DataSource(dataSource => dataSource
                                                .Ajax()
                                                .Read(read => read.Action("getSystemInfoShortList", "Account"))
                                                ) *@
                                            )

                                    </div>
                                    <label class="col-1 col-form-label">User</label>
                                    <div class="col-3">
                                        @(Html.Kendo().DropDownList()
                                            .Name("HelpDesk.BrukerId")
                                            .DataTextField("Navn")
                                            .DataValueField("BrukerId")
                                            .OptionLabel("Select user ...")
                                            .OptionLabelTemplate("<span><i>Select user ...</i></span>")
                                            .Value(Model.HelpDesk.BrukerId)
                                            .HtmlAttributes(new { style="width: 100%;" })
@*                                             .DataSource(dataSource => dataSource
                                                .Ajax()
                                                .Read(read => read.Action("getSystemInfoBrukereListe", "Account").Data("filterFellesraad"))
                                                ) *@
                                            )
                                    </div>
                                    <label class="col-1 col-form-label">Case manager</label>
                                    <div class="col-3">
                                         @(Html.Kendo().DropDownList()
                                            .Name("HelpDesk.Saksbehandler")
                                            .DataTextField("Text")
                                            .DataValueField("Value")
                                            .OptionLabel("Assign a case manager")
                                            .OptionLabelTemplate("<span><i>Assign a case manager...</i></span>")
                                            .BindTo(new List<SelectListItem>() {
                                                new SelectListItem() {
                                                Text = Localizer["Einar Aasen"].Value , Value = "einar.aasen"
                                                }
                                            })
                                            .Value(Model.HelpDesk.Saksbehandler)
                                            .HtmlAttributes(new { style="width: 100%;" })
                                        )                                       
                                    </div>

                                </div>

                                <div class="panel with-nav-tabs panel-default" id="dataenter" style="margin-top: 10px; margin-bottom: 10px;">
                                    <div class="panel-body data padding-0">
                                        <div class="tab-content data">
                                
                                            <div class="panel-heading" id="Tab2">
                                                <ul class="nav nav-tabs">
                                                    <li class="nav-item"><a class="@(Model.HelpDesk.bunnTab == "tabBeskrivelse" ? "nav-link active" : "nav-link")" aria-current="page" href="#tabBeskrivelse" data-bs-toggle="tab">@Localizer["Description"]</a></li>
                                                    <li class="nav-item"><a class="@(Model.HelpDesk.bunnTab == "tabPubBeskrivelse" ? "nav-link active" : "nav-link")" aria-current="page" href="#tabPubBeskrivelse" data-bs-toggle="tab">@Localizer["Pub. Description"]</a></li>
                                                    <li class="nav-item"><a class="@(Model.HelpDesk.bunnTab == "tabLosning" ? "nav-link active" : "nav-link")" href="#tabLosning" data-bs-toggle="tab">@Localizer["Solution"]</a></li>
                                                    <li class="nav-item"><a class="@(Model.HelpDesk.bunnTab == "tabNotat" ? "nav-link active" : "nav-link")" href="#tabNotat" data-bs-toggle="tab">@Localizer["Notes"]</a></li>
                                                </ul>
                                            </div>
                                

                                            <div class="tab-content" style="margin-top: 10px;">

                                                <div class="@(Model.HelpDesk.bunnTab == "tabBeskrivelse" ? "tab-pane fade show active" : "tab-pane fade")" style="padding-left: 12px; padding-right: 2px;" role="tabpanel" id="tabBeskrivelse">

                                                    <div class="row bg_warning" >
                                                        <div class="col-12 g-0" style="padding: 0px;">
                                                            @(Html.Kendo().Editor()
                                                                .Name("HelpDesk.Beskrivelse")
                                                                .Encoded(false)
                                                                .HtmlAttributes(new { style = "margin: 0px; padding: 0px; width:calc(100% - 10px); height: calc(100vh - 640px);", aria_label = "Tekst" })
                                                                .Value(Model.HelpDesk.Beskrivelse)
                                                                .StyleSheets(css => css
                                                                    .Add(Url.Content("~/css/editorStyles.css"))
                                                                    )
                                                                .Tools(tools => tools
                                                                    .Clear()                                                
                                                                    .Bold().Italic().Underline()
                                                                    .JustifyLeft().JustifyCenter().JustifyRight()
                                                                    .TableEditing()
                                                                    .Formatting()
                                                                    .ForeColor().BackColor()
                                                                    )
                                                                )
                                                        </div>
                                                    </div>
                                
                                                </div>

                                                <div class="@(Model.HelpDesk.bunnTab == "tabPubBeskrivelse" ? "tab-pane fade show active" : "tab-pane fade")" style="padding-left: 12px; padding-right: 2px;" role="tabpanel" id="tabPubBeskrivelse">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            @(Html.Kendo().CheckBox().Name("HelpDesk.Publiser").Checked(Model.HelpDesk.Publiser).Label(Localizer["Publish"].Value))
                                                        </div>
                                                    </div>
                                                    <div class="row" >
                                                        <div class="col-12 g-0" style="padding: 0px;">
                                                            @(Html.Kendo().Editor()
                                                                .Name("HelpDesk.PubBeskrivelse")
                                                                .Encoded(false)
                                                                .HtmlAttributes(new { style = "margin: 0px; padding: 0px; width:calc(100% - 10px); height: calc(100vh - 668px);", aria_label = "Tekst" })
                                                                .Value(Model.HelpDesk.PubBeskrivelse)
                                                                .StyleSheets(css => css
                                                                    .Add(Url.Content("~/css/editorStyles.css"))
                                                                    )
                                                                .Tools(tools => tools
                                                                    .Clear()                                                
                                                                    .Bold().Italic().Underline()
                                                                    .JustifyLeft().JustifyCenter().JustifyRight()
                                                                    .TableEditing()
                                                                    .Formatting()
                                                                    .ForeColor().BackColor()
                                                                    )
                                                                )
                                                        </div>
                                                    </div>
                                
                                                </div>


                                                <div class="@(Model.HelpDesk.bunnTab == "tabLosning" ? "tab-pane fade show active" : "tab-pane fade")" style="padding-left: 12px; padding-right: 2px;" role="tabpanel" id="tabLosning">
                                                    <div class="row" >
                                                        <div class="col-12 padding-0">
                                                            @(Html.Kendo().Editor()
                                                                .Name("HelpDesk.Losning")
                                                                .Encoded(false)
                                                                .HtmlAttributes(new { style = "margin: 0px; padding: 0px; width:calc(100% - 10px); height:calc(100vh - 640px);", aria_label = "Tekst" })
                                                                .Value(Model.HelpDesk.Losning)
                                                                .StyleSheets(css => css
                                                                    .Add(Url.Content("~/css/editorStyles.css"))
                                                                    )
                                                                .Tools(tools => tools
                                                                    .Clear()                                                
                                                                    .Bold().Italic().Underline()
                                                                    .JustifyLeft().JustifyCenter().JustifyRight()
                                                                    .TableEditing()
                                                                    .Formatting()
                                                                    .ForeColor().BackColor()
                                                                    )
                                                                )
                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="@(Model.HelpDesk.bunnTab == "tabNotat" ? "tab-pane fade show active" : "tab-pane fade")" style="padding-left: 1px; padding-right: 1px;" role="tabpanel" id="tabNotat">
                                
                                                    <div class="row">
                                                        <div class="col-12" style="margin-top: 10px;">
                                
                                                            <button type="button" name="Gemeinde" class="commandSmal" onclick="showDialogNotatGrav()" style="width: 130px; margin-left: 10px;">
                                                                @Localizer["New note"]
                                                                <img src="~/images/button-add.svg" style="width: 24px; height: 24px;" />
                                                            </button>

                                                            <button type="button" id="visDokument" class="commandSmal" onclick="showDialogEndreNotatGrav()" style="width: 160px; margin-left: 10px;">
                                                                @Localizer["Edit note"]
                                                                <img src="~/images/Endre.svg" style="width: 24px; height: 24px; " />
                                                            </button>

                                                            <button type="button" id="visDokument" class="commandSmal" onclick="slettNotatGrav()" style="width: 160px; margin-left: 10px;">
                                                                @Localizer["Remove note"]
                                                                <img src="~/images/trash-2.svg" style="width: 24px; height: 24px; " />
                                                            </button>

                                                        </div>                        
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-12">
                                                            @(Html.Kendo().Grid<Susteni.Models.HelpDeskLoggItem>()
                                                                .Name("grdLogg")
                                                                .Columns(columns =>
                                                                {
                                                                    columns.Bound(q => q.HelpDeskLoggGuid).Visible(false);
                                                                    columns.Bound(q => q.Tidspunkt).Format("{0: dd.MM.yyyy}").Width(100).Title("Created");
                                                                    columns.Bound(q => q.BrukerId).Width(100).Title("User");
                                                                    columns.Bound(q => q.Kommentar).Title("Note");
                                                                })
                                                                .Sortable()
                                                                .HtmlAttributes(new { style = " height:calc(100vh - 695px);"})
                                                                .Selectable(s => s
                                                                    .Mode(GridSelectionMode.Single)
                                                                    .Type(GridSelectionType.Row))
                                                                .DataSource(dataSource => dataSource
                                                                    .Ajax()
                                                                    .Read(read => read.Action("GetHelpDeskLoggListe", "HelpDesk").Data("filterHelpdesk"))
                                                                )
                                                            )
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="row align-items-center" style="display: flex; flex-direction: row;">
                                    <Label class="col-2 col-form-label">@Localizer["Start date"]</label>
                                    <div class="col-2">
                                        @if (Model.HelpDesk.StartDato != null)
                                        {
                                            @(Html.Kendo().DatePicker().Name("HelpDesk.StartDato").Value(Model.HelpDesk.StartDato).HtmlAttributes(new { style = "width: 120px"}))
                                        }
                                        else
                                        {
                                            @(Html.Kendo().DatePicker().Name("HelpDesk.StartDato").HtmlAttributes(new { style = "width: 120px"}))
                                        }
                                    </div>
                                    <Label class="col-1 col-form-label">@Localizer["Finish"]</label>
                                    <div class="col-2">
                                        @if (Model.HelpDesk.Ferdig != null)
                                        {
                                            @(Html.Kendo().DatePicker().Name("HelpDesk.Ferdig").Value(Model.HelpDesk.Ferdig).HtmlAttributes(new { style = "width: 120px"}))
                                        }
                                        else
                                        {
                                            @(Html.Kendo().DatePicker().Name("HelpDesk.Ferdig").HtmlAttributes(new { style = "width: 120px"}))
                                        }
                                    </div>
                                    <Label class="col-2 col-form-label">@Localizer["Acceptance date"]</label>
                                    <div class="col-2">
                                        @if (Model.HelpDesk.Aksept != null)
                                        {
                                            @(Html.Kendo().DatePicker().Name("HelpDesk.Aksept").Value(Model.HelpDesk.Aksept).HtmlAttributes(new { style = "width: 120px"}))
                                        }
                                        else
                                        {
                                            @(Html.Kendo().DatePicker().Name("HelpDesk.Aksept").HtmlAttributes(new { style = "width: 120px"}))
                                        }
                                    </div>
                                </div>

                                <div class="row align-items-center" style="display: flex; flex-direction: row; margin-bottom: 0px;">
                                    <Label class="col-2 col-form-label">@Localizer["Created"]</label>
                                    <div class="col-2">
                                        <input asp-for="HelpDesk.OpprettetDato" class="form-control k-textbox" readonly>
                                    </div>
                                    <label class="col-1 col-form-label">User</label>
                                    <div class="col-md-3">
                                        <input asp-for="HelpDesk.OpprettetAv" class="form-control k-textbox" readonly>
                                    </div>
                                </div>

                            </div>

                            <div class="@(Model.HelpDesk.aktivTab == "tabBilde" ? "tab-pane fade show active" : "tab-pane fade")" style="padding: 10px;" role="tabpanel" id="tabBilde">
                                <div class="row">
                                    

                                    <div class="col-lg-4">

                                    <div class="row">
                                        <div class="d-flex">
                                            <h4 class="me-auto align-self-end unselectable">@Localizer["List of pictures"]</h4>
                                            <div class="align-items-end">
                                                <div class="dropdown">
                                                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                                        <img src="~/images/menu.svg" />
                                                    </button>
                                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                        <li><button class="dropdown-item" type="button" onclick="showDialogBilde()">@Localizer["Vis"]</button></li>
                                                        <li><button class="dropdown-item" type="button" onclick="slettBilde()">@Localizer["Slett"]</button></li>
                                                        <li><button class="dropdown-item" type="button" onclick="showDialogEndreBilde()">@Localizer["Info"]</button></li>
                                                    </ul>
                                                </div>
                                            </div>

 
                                        </div>
                                    </div>

                                    <div class="row" style="height: calc(100vh - 300px);">
                                        <div class="col-12">
                                         @(Html.Kendo().ListView<Susteni.Models.HelpDeskBildeItem>()
                                            .Name("lvBilder")
                                            .TagName("div")
                                            .ClientTemplateId("templateBMV")
                                            .Scrollable(ListViewScrollableMode.Endless)
                                            .Selectable(ListViewSelectionMode.Single)
                                            .Events(e => e.Change("onBildeChange"))
                                            .DataSource(dataSource => dataSource
                                                .Ajax()
                                                .Read(read => read.Action("getHelpDeskBildeListe", "HelpDesk").Data("filterHelpdesk"))
                                                )
                                            )
                                        </div>
                                    </div>
                                    </div>
                                     <div class="col-lg-8">
                                        <partial name="_HelpDeskBilde" />
                                    </div>
                                </div>
                            </div>
                           

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



<script>


    $("ul.nav-tabs > li > a").on("shown.bs.tab", function (e) {
        var id = $(e.target).attr("href").substr(1);

        if (id == "tabGenerell" || id == "tabBilde") {
            // $.ajax({
            //     url: '@Url.Action("SetTab", "HelpDesk")',
            //     data: { tab: id },
            //     type: "GET"
            // });
        }
    });

    $(window).on("resize", function(){
        $("#grdLogg").data("kendoGrid").refresh();
        $("#lvBilder").data("kendoListView").refresh();
        });


</script>